
{% extends "base.html" %}

{% block extrahead %}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ config.site_url }}assets/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ config.site_url }}assets/favicon.png">
  <link rel="apple-touch-icon" href="{{ config.site_url }}assets/logo.png">
  
  <!-- Open Graph для пошуку та соц мереж -->
  <meta property="og:image" content="{{ config.site_url }}assets/logo.png">
  <meta property="og:title" content="{{ config.site_name }}">
  <meta property="og:description" content="{{ config.site_description }}">
{% endblock %}